body {
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.mb-3 {
padding-top: 30px;
padding-left: 40px;
} 

.title {
padding-top: 30px;
padding-left: 40px;
font-family: 'Magisho', sans-serif;
color: #E95658;
} 

.description {
padding-top: 5px;
padding-left: 40px;
font-family: 'Poppins', sans-serif;
} 

.description2 {
padding-top: 30px;
padding-left: 40px;
font-family: 'Poppins', sans-serif;
font-size: 0.8vw; 
} 

.btn btn-primary {
padding-top: 30px;
padding-left: 40px;
color: #E95658;
} 