
body {
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.mb-3 {
padding-top: 30px;
padding-left: 40px;
} 

.form-control {
    width: 700px; 
  }

.title {
padding-top: 30px;
padding-left: 40px;
font-family: 'Magisho', sans-serif;
color: #E95658;
} 

.description {
padding-top: 5px;
padding-left: 40px;
font-family: 'Poppins', sans-serif;
} 

.description2 {
padding-top: 30px;
padding-left: 40px;
font-family: 'Poppins', sans-serif;
font-size: 0.8vw; 
} 

.btn-primary {
margin-top: 30px; 
margin-left: 40px;
background-color: #E95658 !important; 
border-color: #E95658 !important; 
color: white !important; 
margin-bottom: 50px;
}


.btn-primary:hover {
background-color: #b1272a !important; 
border-color: #b1272a !important; 
}


/*media*/

/*desktop*/
@media only screen and (min-width: 961px) {
 
  
}
  
/*tablet e telefoni*/
@media only screen and (min-width: 481px) and (max-width: 960px) {

  }
  
  
/*telefoni*/
 @media only screen and (max-width: 480px) {

    .title {
    font-size: 3em;
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Magisho', sans-serif;
    color: #E95658;
    } 

    .form-control {
    width: 400px; 
    }

    .mb-3 {
    padding-top: 30px;
    padding-left: 30px;
    } 

    .description {
    padding-top: 5px;
    padding-left: 30px;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    } 
            
    .description2 {
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em; 
    } 

    .btn-primary {
    margin-top: 50px; 
    margin-left: 40px;
    background-color: #E95658 !important; 
    border-color: #E95658 !important; 
    color: white !important; 
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    }

    .btn-primary:hover {
    background-color: #b1272a !important; 
    border-color: #b1272a !important; 
    }
}
    
  

