body {
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*NavBar*/

.navbar {
    background-color: #EEE5E5;
}

.navbar-brand {
    color: #E95658;
    font-family: 'Magisho', cursive;
    font-size: 1.8vw; 
    margin-left: 5vw; 
    margin-right: 10vw; 
}


.offcanvas-header .offcanvas-title {
    color: #E95658; 
    font-family: 'Magisho', cursive; 
}


.dropdown-menu a.dropdown-item:hover {
    color: #E95658; 
}

.btn-outline-success {
    color: #fff; 
    background-color: #E95658; 
    border-color: #E95658;
}


.btn-outline-success:hover {
    color: #fff; 
    background-color: #e95758; 
    border-color: #e95758; 
}


.spacer {
    height: 50px; 
}


/*Contenuto Iniziale*/
.color-rectangle-container {
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  .red-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 500px;
    background-color: #e95758;
  }
  
  .img-thumbnail {
    position: absolute;
    top: 50%; 
    left: 250px;
    border: none;
    border-radius: 300px; 
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px; 
  }
  
  .text-container {
    position: absolute;
    top: 35%;
    left: 500px; 
    transform: translateY(-50%);
    color: #ffffff;
  }
  
  .title {
    margin-top: 150px;
    font-size: 2.5em;
    font-family: 'Magisho', cursive; 
  }
  
  .description {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5;
  }
  
  .white-rectangle-container {
    position: relative;
    width: 100%; 
    height: 300px;
}

.white-rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: #EEE5E5;
}

.social-icons {
    position: absolute;
    top: 50%; /* Posiziona al centro verticale */
    left: 50%; /* Posiziona al centro orizzontale */
    transform: translate(-50%, -50%); /* Centra il contenuto */
}

.social-icons a {
    margin: 0 10px; /* Aggiunge spazio tra le icone */
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

footer {
  width: 100%;
  height: 10px;
  text-align: center;
}


/*color-rectangle-container
red-rectangle
text-container
title
description*/

/*desktop*/
@media only screen and (min-width: 961px) {
  
    .text-container {
      left: 50%; 
      transform: translateX(-50%);
      width: 80%; 
      text-align: center; 
    }
  }

  /*tablet e telefoni*/
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    
    .img-fluid {
      padding-top: 25px;
    }

    .navbar-brand {
      color: #E95658;
      font-family: 'Magisho', cursive;
      font-size: 2em; 
      margin-left: 5vw; 
      margin-right: 10vw; 
  }
  
    .color-rectangle-container {
      position: relative;
      width: 100%;
      height: 500px;
    }
    
    .red-rectangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 600px;
      background-color: #e95758;
    }
   
    .img-thumbnail { 
      position: absolute; 
      top: 60%; 
      left: 225px;
      border: none;
      border-radius: 150px; 
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }
      
  
    .title {
      text-align: left;
      margin-top: 250px;
      left: 100px;
      font-size: 2.5em;
      font-family: 'Magisho', cursive; 
      top: 200px;
      
    }
    
    .description {
      margin-top: 20px;
      left: 100px;
      font-size: 0.9em;
      line-height: 1.5;
    }

 
.white-rectangle {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 350px; 
    background-color: #EEE5E5;
}

.social-icons {
    position: relative;
    padding-top:350px;
    align-items: center;
    text-align: center;
  }

.social-icons a {
    margin: 0 10px; /* Aggiunge spazio tra le icone */
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

.copyright {
  position: relative; 
  text-align: center; 
  margin-top: 70px; 
  font-size: 1em;
}

.signature {
  position: relative; 
  text-align: center; 
  margin-top: 5px; 
  width: 150px;
}
}


  /*telefoni*/
  @media only screen and (max-width: 480px) {

    .img-fluid {
      padding-top: 25px;
    }

    .navbar-brand {
      color: #E95658;
      font-family: 'Magisho', cursive;
      font-size: 2em; 
      margin-left: 5vw; 
      margin-right: 10vw; 
  }
  
   
    .color-rectangle-container {
      position: relative;
      width: 100%;
      height: 500px;
    }
    
    .red-rectangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 950px;
      background-color: #e95758;
    }
   
    .img-thumbnail { 
      position: relative;
      top: 35%; 
      align-self: center;
      border: none;
      border-radius: 150px; 
      transform: translate(-50%, -50%);
      width: 250px;
      height: 250px;
    }
      
    .text-container {
      left: 50%; 
      transform: translateX(-50%); 
      width: 80%; 
      text-align: center; 
    }

    .title {
      margin-top: 150px;
      font-size: 2.3em;
      font-family: 'Magisho', cursive; 
    }
    
    .description {
      margin-top: 20px;
      font-size: 0.9em;
      line-height: 1.5;
    }

  .white-rectangle-container {
    position: relative;
    width: 100%; 
    height: 300px;
}

.white-rectangle {
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 350px; 
    background-color: #EEE5E5;
}

.social-icons {
    position: relative;
    padding-top: 800px;
    align-items: center;
    text-align: center;
  }

.social-icons a {
    margin: 0 10px; /* Aggiunge spazio tra le icone */
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

.copyright {
  position: relative; 
  text-align: center; 
  margin-top: 70px; 
  font-size: 1em;
}

.signature {
  position: relative; 
  text-align: center; 
  margin-top: 5px; 
  width: 150px;
}
}
  